@model Ferma.Models.UserViewModel
@Styles.Render("~/Content/css")
<body class="farmbody">
    <div class="farmhead">
        <div class="nameplate">
            <img src="/Images/Vegetable/Corn/Corn.png">
            <h4>0</h4>
        </div>
        <div class="nameplate">
            <img src="/Images/Vegetable/Grain/Grain.png">
            <h4>0</h4>
        </div>
        <div class="nameplate">
            <img src="/Images/Vegetable/HotPepper/HotPepper.png">
            <h4>0</h4>
        </div>
        <div class="nameplate">
            <img src="/Images/Vegetable/Brocolli/Broccoli.png">
            <h4>0</h4>
        </div>
        <div class="nameplate">
            <img src="/Images/Background/coin.png">
            <h4>550</h4>
        </div>

    </div>
    <div class="farmcontent">
        @*<div>
            <h1>@Model.UserName</h1>
        </div>*@
        <div class="farm">
            <div class="field"><div class="imagefield"></div><div class="imagebuild"></div></div>
            <div class="field"><div class="imagefield"></div><div class="imagebuild"></div></div>
            <div class="field"><div class="imagefield"></div><div class="imagebuild"></div></div>
            <div class="field"><div class="imagefield"></div><div class="imagebuild"></div></div>
            <div class="field"><div class="imagefield"></div><div class="imagebuild"></div></div>
            <div class="field"><div class="imagefield"></div><div class="imagebuild"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
            <div class="field"><div class="imagefield"></div></div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
