@model Ferma.Models.UserViewModel
@Styles.Render("~/Content/css")
<body class="farmhead">
    <div>
        <h1>@Model.UserName</h1>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
