################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ferma.WEB/bin
/Ferma.BLL/bin/Debug
/Ferma.DAL/bin/Debug
/Ferma.WEB/obj/Debug
/packages/popper.js.1.14.0/.signature.p7s
/packages/popper.js.1.14.0/popper.js.1.14.0.nupkg
.vs
.vs/Ferma/v15/Server/sqlite3
/Ferma.BLL/obj/Release
/Ferma.DAL/obj/Release
/Ferma.DAL/obj/Debug
