################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Ferma.WEB/bin
/Ferma.BLL/bin/Debug
/Ferma.DAL/bin/Debug
/Ferma.WEB/obj/Debug
